# Ignore chroma database files - generate these yourself by running the db-init script so
# your LLM can use your own data.
util/chroma_db/
chroma_db/

# Ignore IDE/project files
*.iml
*.idea/

# Ignore everything in docs, but keep the folder
docs/*
!docs/.gitkeep

# Ignore everything in flagged, but keep the folder
flagged/*
!flagged/.gitkeep